@import "tailwindcss";

/* Firefox */
.scrollbar-thin-custom {
  scrollbar-width: thin;
}

/* Chrome, Safari, Edge */
.scrollbar-thin-custom::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* gray-500 */
.scrollbar-thin-custom::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.7);
  border-radius: 20px;
}

/* gray-200 */
.scrollbar-thin-custom::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 235, 1);
}
